fastapi
uvicorn
httpx
pydantic
crewai==0.175.0
langchain-openai==0.1.7  # Needed for ChatOpenAI
openai
rapidfuzz
psutil
functions-framework
pyyaml
langchain
chromadb
hnswlib
sentence-transformers
asgiref
tldextract
supabase

# PDF reading dependencies
pdfplumber
pillow
PyMuPDF